__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.python-version
.env
.venv
.envrc
.pytest_cache/
.mypy_cache/
ruff_cache/
.dist/
dist/
build/
.DS_Store
*.log
*.coverage
htmlcov/
.coverage*
cache/
/.idea/
/.vscode/
examples/data/*_anon.csv
